.padre{
    background-color: rgb(72, 97, 209);
    font-size: 30px;
    padding: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "caja1 caja1 caja1 caja2 caja2 caja2 caja2 caja2"
                         "caja3 caja3 caja3 caja3 caja3 caja3 caja3 caja3"
                         "caja4 caja5 caja6 caja7 caja8 caja8 caja8 caja9"
                         "caja4 caja5 caja6 caja7 caja12 caja13 caja13 caja9"
                         "caja4 caja10 caja11 caja7 caja12 caja14 caja14 caja9"
                         "caja4 caja10 caja11 caja7 caja12 caja14 caja14 caja9"
                         "caja4 caja15 caja15 caja15 caja15 caja15 caja15 caja9";
}
.caja1{
    background-color: rgb(197, 43, 69);
    margin: 5px;
    grid-area: caja1;
}
.caja2{
    background-color: rgb(197, 43, 69);
    margin: 5px;
    grid-area: caja2;
}
.caja3{
    background-color: rgb(143, 40, 40);
    margin: 5px;
    grid-area: caja3;
}
.caja4{
    background-color: rgb(158, 42, 71);
    margin: 5px;
    grid-area: caja4;
}
.caja5{
    background-color: rgb(151, 57, 139);
    margin: 5px;
    grid-area: caja5;
}
.caja6{
    background-color: rgb(168, 38, 140);
    margin: 5px;
    grid-area: caja6;
}
.caja7{
    background-color: rgb(143, 197, 43);
    margin: 5px;
    grid-area: caja7;
}
.caja8{
    background-color: rgb(143, 197, 43);
    margin: 5px;
    grid-area: caja8;
}
.caja9{
    background-color: rgb(143, 197, 43);
    margin: 5px;
    grid-area: caja9;
}
.caja10{
    background-color: rgb(151, 46, 142);
    margin: 5px;
    grid-area: caja10;
}
.caja11{
    background-color: rgb(161, 42, 135);
    margin: 5px;
    grid-area: caja11;
}
.caja12{
    background-color: rgb(143, 197, 43);
    margin: 5px;
    grid-area: caja12;
}
.caja13{
    background-color: rgb(143, 197, 43);
    margin: 5px;
    grid-area: caja13;
}
.caja14{
    background-color: rgb(143, 197, 43);
    margin: 5px;
    grid-area: caja14;
}
.caja15{
    background-color: rgb(184, 38, 45);
    margin: 5px;
    grid-area: caja15;
}
